.addPerson {
    width:40%;
    margin-right:2%;
    float: left;
}

.fetchPerson {
    width:42%;
    float: left;
}

.clearFix {
    clear: both;
}

p {
    text-align: center;
    background-color:  #e6ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

