<div>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    <input type="text" [(ngModel)]="fName" class="form-control" placeholder="First Name">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    <input type="text" [(ngModel)]="lName" class="form-control" placeholder="Last Name">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
    <input type="text" [(ngModel)]="telephone" class="form-control" placeholder="10 digits">
  </div>
  <br>
  <button type="submit" (click)="onButtonClick()" class="btn btn-primary">SAVE</button><br />
  <label>{{status}}</label>
</div>
{{fName}} {{lName}} {{telephone}}


<!-- BootStrap Images - Use 
<img src="125x125.jpg" class="img-rounded" alt="Rounded Image">

-->