<div>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    <input type="text" [(ngModel)]="fName" class="form-control" placeholder="First Name">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    <input type="text" [(ngModel)]="lName" class="form-control" placeholder="Last Name">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
    <input type="text" [(ngModel)]="telephone" class="form-control" placeholder="10 digits">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
    <textarea rows="2" [(ngModel)]="desc" class="form-control" placeholder="Description"></textarea>
  </div>
  <br>
  <button type="submit" (click)="onButtonSave()" class="btn btn-primary">SAVE</button><br/>
  <button type="submit" (click)="onButtonClear()" class="btn btn-primary">CLEAR</button><br/>
  <label>{{status}}</label>
</div>
{{fName}} {{lName}} {{telephone}} {{desc}}